/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

.clear {
  clear: both;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46.5px;
  background-color: black;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav .subnav {
  list-style: none;
}

#nav > li {
  display: inline-block;
  position: relative;
}

#nav > li > a {
  text-transform: uppercase;
}

#nav li a {
  color: white;
  text-decoration: none;
  line-height: 46.5px;
  padding: 0 24px;
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: black;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 160px;
  top: 100%;
  left: 0;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav a {
  color: black;
  padding: 8px 16px;
  line-height: 22px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}

#header .search-btn {
  float: right;
  padding: 0 24px;
}

#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header .search-icon {
  color: white;
  font-size: 15px;
  line-height: 46.5px;
}

#slider {
  position: relative;
  margin-top: 46.5px;
  padding-top: 50%;
  background: url("https://www.w3schools.com/w3images/chicago.jpg") top center /
    cover no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 25px;
}

#slider .text-description {
  font-size: 15px;
}

#content .content-section {
  width: 800px;
  padding: 64px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
}

#content .section-sub-heading {
  font-size: 15px;
  font-style: italic;
  opacity: 0.6;
  margin: 25px 0;
}

#content .section-heading,
#content .section-sub-heading {
  text-align: center;
}

#content .about-text {
  line-height: 22.5px;
  font-size: 15px;
}

#content .members-list {
  margin: 32px 0;
}

#content .member-item {
  float: left;
  width: 33.33333%;
  text-align: center;
}

#content .member-name {
  font-size: 15px;
}

#content .member-img {
  width: 60%;
  margin-top: 15px;
  border-radius: 4px;
}

.tour-section {
  background-color: black;
  color: white;
}

.tour-section .tickets-list {
  background-color: white;
  margin-top: 40px;
  list-style: none;
}

.tour-section .tickets-list li {
  height: 40px;
  border-bottom: 1px solid #ddd;
  padding: 11px 16px;
  color: #757575;
}

.tour-section .tickets-list .sold-out {
  background-color: #f44336;
  color: white;
  padding: 3px 4px;
  margin-left: 16px;
}

.tour-section .tickets-list .quantity {
  float: right;
  background-color: #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: white;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}

.tour-section .places-list {
  margin: 32px -8px 48px;
}

.tour-section .place-item {
  float: left;
  width: 33.33333%;
  padding: 0 8px;
}

.tour-section .place-item .place-img {
  width: 100%;
}

.tour-section .place-item .place-img:hover {
  opacity: 0.6;
}

.tour-section .place-content {
  background-color: #fff;
  color: black;
  padding: 15px 16px;
}

.tour-section .place-content .place-heading,
.tour-section .place-content .place-time,
.tour-section .place-content .place-desc {
  margin-bottom: 15px;
}

.tour-section .place-content .place-time {
  opacity: 0.6;
}

.tour-section .place-content .place-desc {
  font-size: 15px;
  line-height: 1.4;
}

.tour-section .place-content .place-buy-btn {
  padding: 11px 16px;
  background-color: black;
  text-decoration: none;
  color: white;
  display: inline-block;
}

.tour-section .place-content .place-buy-btn:hover {
  background-color: #ccc;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .modal-container {
  background-color: white;
  width: 900px;
  min-height: 200px;
  position: relative;
}

.modal .modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.modal .modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  padding: 16px;
  font-size: 14px;
}

.modal .modal-body {
  padding: 16px;
}

.modal .modal-body .modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modal .modal-body .modal-input {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 15px;
  width: 100%;
  margin-bottom: 24px;
}

.modal .modal-body .buy-tickets {
  width: 100%;
  border: none;
  background: #009688;
  padding: 16px;
  color: white;
  font-weight: 600;
}

.modal .modal-close:hover,
.modal .modal-body .buy-tickets:hover {
  background: #ccc;
  color: black;
  cursor: pointer;
}
